body{
	margin-top: 25px;
	padding: 50px;
	background-color: d3d3d3;
	border-top: solid 5px black;
	border-bottom: solid 5px black;
	text-align: center;
	font-family: sans-serif;
}
nav{
	font-weight: bold;
}
h2{
	text-align: left;
}
p{
	text-align: left;
	font-family: serif;
}

img{
	border: solid 1px black;
	margin: 20px;
	padding: 5px;
	text-align: right;
	float: right;
}

hr{
	border-color: black;
}
a{
	color: black;
}